body{
background-color: rgba(1, 1, 70, 1);
}

p{
color: rgba(255, 235, 255, 1);
}
.title_1
{font-family: Tenor Sans;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 36.5px;
letter-spacing: 0px;
}
.title_2
{
font-family: Tenor Sans;
font-weight: 400;
font-style: Regular;
font-size: 14px;
leading-trim: NONE;
line-height: 34.5px;
letter-spacing: 0px;
}
.title_3
{
font-family: Tenor Sans;
font-weight: 400;
font-style: Regular;
font-size: 12px;
leading-trim: NONE;
line-height: 18px;
letter-spacing: 0px;
}
.smth{
font-family: Alegreya Sans;
font-weight: 400;
font-style: italic;
font-size: 12px;
}
.pluses{
font-family: Alegreya Sans;
font-weight: 400;
font-style: Regular;
font-size: 14px;
}
.about{
font-family: Alegreya Sans;
font-weight: 400;
font-style: Regular;
font-size: 12px;
}
