body{
background-color: rgba(1, 1, 70, 1);
}

p{
color: rgba(255, 235, 255, 1);
}
.title_1
{font-family: Tenor Sans;
font-weight: 400;
font-style: Regular;
font-size: 26px;
leading-trim: NONE;
line-height: 36.5px;
letter-spacing: 0px;
color:rgba(216, 255, 252, 1);
}
.title_2
{
font-family: Tenor Sans;
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 34.5px;
letter-spacing: 0px;
  color:rgba(216, 255, 252, 1);
}
.title_3
{
font-family: Tenor Sans;
font-weight: 400;
font-style: Regular;
font-size: 22px;
leading-trim: NONE;
line-height: 18px;
letter-spacing: 0px;
  color:rgba(216, 255, 252, 1);
}
.smth{
font-family: Alegreya Sans;
font-weight: 400;
font-style: italic;
font-size: 22px;
  color:rgba(216, 255, 252, 1);
}
.pluses{
font-family: Alegreya Sans;
font-weight: 400;
font-style: Regular;
font-size: 24px;
  color:rgba(216, 255, 252, 1);
}
.about{
font-family: Alegreya Sans;
font-weight: 400;
font-style: Regular;
font-size: 22px;
  color:rgba(216, 255, 252, 1);
}

